
/* mobile view */
@media only screen and (max-width: 700px){
    /* #aboutTop{
        padding: 20px;
    } */
    #aboutTop h1{
        text-align: center;
        padding: 30px 0 50px;
        margin: 0;
    }
   
    #beckerman img, #smolyansky img{
        width: 200px;
        height: 200px;
    }
    #harthan img{
        width: 200px;
        height: 200px;
    }

    .beckerman, .harthan, .smolyansky{
        text-align: center;
    }

    #beckerman, #harthan, #smolyansky{
        padding: 20px 0;
    }

    #smolyansky{
        padding-bottom: 45px;
    }

    #doctors{
        margin: 0;
    }
    .titles{
        margin: 0;
        font-size:large;
        font-weight: bold;
        text-align: center;
    }
    #bio p{
        padding: 8px 20px 0px 20px;
    }
}
/* -------------------desktop view----------- */
@media only screen and (min-width: 700px){
    #aboutTop{
        padding: 50px;
    }
    #aboutTop h1{
        text-align: center;
        padding: 20px 0 50px;
        margin: 0;
    }
    #beckerman img, #smolyansky img{
        width: 220px;
        height: 220px;

    }
    #harthan img{
        width: 220px;
        height: 220px;
    }

    #beckerman, #harthan, #smolyansky{
        display: flex;
        padding: 20px 0;
    }
    #bio{
        flex: 2;
    }
    #doctors{
        margin: 0;
    }
    .titles{
        margin: 0;
        font-size:x-large;
        font-weight: bold;
    }
    #bio p{
        padding: 5px 20px 5px 20px;
    }
}
/* ---------------------outside media queries--------- */
/* top section */
#aboutTop{
    background-color: #5e5e5e;
}
#aboutTop a{
   color: #000000; 
   font-weight: bold;
}


