
/* mobile view */
@media only screen and (max-width: 799px){
    #aboutTop h2{
        text-align: center;
        padding-top: 40px;
        margin-bottom: 25px;
    }
   
    #beckerman img, #smolyansky img,  #harthan img{
        width: 12.5em;
        height: 12.5em;
    }

    .beckerman, .harthan, .smolyansky{
        text-align: center;
    }

    #beckerman, #harthan, #smolyansky{
        padding: 20px;
    }

    #smolyansky{
        padding-bottom: 45px;
    }

    #doctors{
        margin: 0;
    }
    .titles{
        margin: 0;
        font-size:large;
        font-weight: bold;
        text-align: center;
    }
    #bio p{
        padding: 8px 20px 0px;
    }
}

/* -------------------tablet view----------- */
@media only screen and (min-width: 800px){
    #aboutTop h2{
        text-align: center;
        padding-top: 40px;
        margin-bottom: 25px;
    }
   
    #beckerman img, #smolyansky img,  #harthan img{
        width: 12.5em;
        height: 12.5em;
    }

    .beckerman, .harthan, .smolyansky{
        text-align: center;
    }

    #beckerman, #harthan, #smolyansky{
        padding: 20px;
    }

    #smolyansky{
        padding-bottom: 45px;
    }

    #doctors{
        margin: 0 20px;
    }
    .titles{
        margin: 0;
        font-size:large;
        font-weight: bold;
        text-align: center;
    }
    #bio p{
        padding: 8px 20px 0px;
    }
}

/* -------------------desktop view----------- */
@media only screen and (min-width: 1025px){
    #telephone {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: -90px;
        margin-bottom: auto;
        font-size: 1em;
        text-decoration: underline;
      }
    #aboutTop h2{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 40px;
        font-size: xx-large;
    }
    #beckerman img, #smolyansky img{
        width: 260px;
        height: 220px;
        margin-top: 15px;
    }
    #harthan img{
        width: 240px;
        height: 260px;
        margin-top: 15px;
        margin-right: 20px;
    }

    #beckerman, #harthan, #smolyansky{
        display: flex;
        margin: 0 40px;
        padding: 0 40px 50px;
    }

    #bio{
        flex: 2;
        font-size: 20px;
    }
    #doctors{
        margin: 0;
    }
    .titles{
        margin: 0;
        font-size:x-large;
        font-weight: bold;
        text-align: left;
    }
    #bio p{
        margin: 0 40px;
        padding: 5px 80px;
    }
}
/* ---------------------outside media queries--------- */
/* top section */
#aboutTop{
    background-color: black;
}
#aboutTop a{
   color: lightskyblue; 
   /* font-weight: bold; */
}


