/* *{
   
    border: 1px solid red;
} */

/* mobile view */
@media only screen and (max-width: 640px){
    #eyearticle{
        margin: 0;
       }

    #top-articles{
        margin: 0 20px; 
    }
    #beckerman-articles, #harthan-articles, #smolyansky-articles{
        margin: 0 20px 20px;
    }   
    
    #youtube{
        margin: 20px 20px 0;
    }

   #eyearticle h2{
       text-align: center;
       padding-top: 40px;
       margin-bottom: 25px;
   }
   .title{
    font-size: 18px;
    font-weight: 900;
    margin-left: 25px;        
}
   #eyearticle a{
       /* font-weight: bold; */
       line-height: 1.6;
       flex-wrap: nowrap;
   }
   #eyearticle ul li{
    margin: 0;
}
   #eyearticle ul{
       padding: 10px 30px 30px;
       text-align: left;
       width: auto;
   }
}

/* tablet view */
@media only screen and (min-width: 641px){
    #eyearticle{
        margin: 0;
       }

    #top-articles{
        margin: 0 20px; 
    }
    #beckerman-articles, #harthan-articles, #smolyansky-articles{
        margin: 0 20px 20px;
    }   
    
    #youtube{
        margin: 20px 20px 0;
    }

   #eyearticle h2{
       text-align: center;
       padding-top: 40px;
       margin-bottom: 25px;
   }
   .title{
    font-size: 18px;
    font-weight: 900;
    margin-left: 25px;        
}
   #eyearticle a{
       /* font-weight: bold; */
       line-height: 1.6;
       flex-wrap: nowrap;
   }
   #eyearticle ul li{
    margin: 0;
}
   #eyearticle ul{
       padding: 10px 30px 30px;
       text-align: left;
       width: auto;
   }
}

/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 1025px){
    #eyearticle h2{
        font-size: xx-large;
        text-align: center;
        padding-top: 50px;
        margin-bottom: 40px;
    }
   
    .title{
        font-size: 24px;
        font-weight: 900;
        margin-left: 40px;   
        padding-left: 40px;     
    }
    #eyearticle ul{
        margin: 0 40px 20px;
        padding: 0 40px 20px;
        font-size: 20px;
    }
    #eyearticle ul li{
        padding: 5px;
    }
    #eyearticle a{
        text-align: left;
        margin: 0; 
        padding: 0;
    }

    #youtube{
        padding-bottom: 20px;
    }

    /* #top-articles, #beckerman-articles, #harthan-articles, #smolyansky-articles{
        margin: 30px;
    }    */
}
/* --------------------- outside media queries --------------- */
#eyearticle{
    background-color: #5e5e5e;
}
#eyearticle li a {
    color: lightskyblue;
    /* font-weight: bold; */
}
#eyearticle a:hover{
    text-decoration: none;
    border-bottom: none;
}

#eyearticle ul{
    list-style: none;
}

#eyearticle li a::before{
    content: "\2043";
    color: lightskyblue;
    padding-right: 5px;
}