*{
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

/* mobile view */
@media only screen and (max-width: 700px){
    #eyearticle{
        padding: 10px;
       }
   #eyearticle h1{
       text-align: center;
       padding-bottom: 10px;
       margin: 40px 0;
   }
   #eyearticle h2{
       margin-left: 15px;
       padding: 15px 0;
   }
   #eyearticle a{
       margin-left: 15px;
       font-weight: bold;
       line-height: 1.8;
   }
   ul{
       margin-bottom: 25px;
   }
}

/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 700px){
    #eyearticle h1{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 35px;
    }
    #eyearticle{
        padding: 50px 60px;
    }
    #eyearticle h2{
        padding: 20px;
    }
    #eyearticle a{
        margin-left: 20px;
        line-height: 1.5;
    }
}
/* --------------------- outside media queries --------------- */
#eyearticle{
    background-color: #5e5e5e;
}
#eyearticle a {
    color: #000000;
}
#eyearticle a:hover{
    text-decoration: underline;
}