/* *{
   
    border: 1px solid red;
} */

/* mobile view */
@media only screen and (max-width: 700px){
    #eyearticle{
        margin: 0px;
        padding: 15px;
       }
   #eyearticle h1{
       text-align: center;
       padding-bottom: 10px;
       margin: 40px 10px;
   }
   #eyearticle h2{
       margin-left: 15px;
       padding: 15px 10px;
   }
   #eyearticle a{
       font-weight: bold;
       line-height: 1.6;
       flex-wrap: wrap;
       margin: 0;

   }
   #eyearticle ul{
       margin: 0 25px 25px 25px;
       text-align: left;
       width: auto;
   }
#eyearticle li{
    margin: 5px 0;
}
}

/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 700px){
    #eyearticle h1{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 35px;
    }
    #eyearticle{
        margin: 0;
        padding: 20px 20px;
    }
    #eyearticle h2{
        padding: 10px 20px 0px;
        /* margin-bottom: -5px; */
    }
    #eyearticle ul{
        margin: 0 15px 0px 20px;
    }
    #eyearticle a{
        margin-left: 20px;
        line-height: 1.5;
        text-align: left;
    }
}
/* --------------------- outside media queries --------------- */
#eyearticle{
    background-color: #5e5e5e;
}
#eyearticle a {
    color: #000000;
}
#eyearticle a:hover{
    text-decoration: underline;
}