/* mobile view */
@media only screen and (max-width: 700px){
body{
    line-height: 1.4;
}
#privacy{
    padding-top: 40px;
    margin-bottom: 25px;
}
#privacy-section{
    margin: 0 20px;
    padding:  0 30px 30px;
}

h3.all-caps{
    margin-top: 10px;
    font-size: medium;
}
#privacy-section p{
    margin: 8px 0;
}
/* ul{
    margin: 0 20px;
} */
.list ul li{
    list-style-type: none;
}
}

/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 700px){

body{
    line-height: 1.4;
}
#privacy-section{
    margin: 0 40px;
    padding: 0 40px 30px;
    font-size: 20px;
}

#privacy{
    padding-top: 50px;
    margin-bottom: 40px;
    font-size: xx-large;
}

h3.all-caps{
    text-transform: uppercase;
    margin-top: 25px;
}

privacy-section p{
    margin: 15px 0px;

}

 .list ul li{
    list-style-type: none;
}

}

/* --------------------- outside media queries --------------- */
/* top section */
body{
    background-color: #5e5e5e;
}

.list ul li:before{
content: "\2043";
    color: lightskyblue;
    padding-right: 5px;
}