/* *{
    border: 1px solid red;
} */


/* mobile view */
@media only screen and (max-width: 700px){
   .noticeMe{
       font-size: 22px;
   }
   #serviceTop h1{
       margin: 0px;
       padding-top: 40px;
       text-align: center;
   }
   #serviceTop{
    padding-bottom: 24px;
   }
   p.exams{
       margin: 0;
       padding: 20px;
   }
   p.types{
       margin: 20px;
        text-align: center;
    }
   }
   ul li{
       line-height: 1.9;
       margin-top: 10px;
       margin-left: 20px;
       margin-right: 8px;
   }
   #serviceBottom h3{
       margin: 10px 0;
       padding-bottom: 8px;
   }
   #languages, #insurance, #payment{
       margin: 0px;
       padding: 20px;
   }

   #serviceBottom{
       padding: 30px 0;
   }

   .exams{
    margin: 0 10px;
    padding: 10px 10px;
}
   .description{
    margin-top: -20px;
    padding-bottom: 20px;
}
.bottomDescription{
    margin-top: -20px;
}
.titles{
    padding-bottom: 20px;
    font-size: larger;
    font-weight: bolder;
}

   #serviceImage{
       margin-bottom: -5px;
   }

   #serviceImage img{
       width: 100%;
   }
    .button{
    margin: 10px;
    text-align: center;
    color: white;
    
    }
   .primary{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 8px;
    color: white;
    
    }
    .secondary{
        width: 200px;
        height: 50px;
        font-size: 16px;
        margin: 8px;
        color: white;
    }

/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 700px){
    #serviceTop h1{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 15px;
    } 
    p.types{
        font-size: 18px;
        text-align: center;
    }
   
    .button{
       justify-content: center; 
       padding: 0px;
       margin: 40px;
    }
    
    .primary{
    width: 220px;
    height: 55px;
    font-size: 18px;

    }
    .secondary{
        width: 220px;
        height: 55px;
        font-size: 18px;
        }

    .exams{
        margin: 0 40px;
        padding: 10px 40px;
    }
    .description{
        margin-top: -20px;
        padding-bottom: 20px;
    }
    .bottomDescription{
        margin-top: -20px;
    }
    .titles{
        padding-bottom: 20px;
        font-size: larger;
        font-weight: bolder;
    }
    #serviceTop ul{
        margin: 0 60px;
    }
    #serviceTop ul li{
        line-height: 2.0;
        font-size: large;
    }

    #languages, #insurance, #payment{
        margin: 0 58px;
    }

    .noticeMe{
        font-size: 20px;
    }

    #serviceImage{
        width: 100%;
        text-align: center;
        background-color: #5E5E5E;
    }
    #serviceImage img{
        margin: 0;
        width: 400px;
        height: auto;
        padding: 24px;
    }
}
/* --------------------- outside media queries --------------- */
/* top section */
#serviceTop{
    background-color: #5e5e5e;
}
#serviceTop a{
    color: #fffffff;
}
/* bottom section */
#serviceBottom{
    background-color: #5e5e5e;
}
.primary{
    background-color: #3358DC;
    color: white;
    border-radius: 7px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border: none;
}
.secondary{
    background-color: transparent;
    color: white;
    border-radius: 7px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border: 3px solid #3358DC;
}
button{
    color: white;
}