/* *{
    border: 1px solid red;
} */


/* mobile view */
@media only screen and (max-width: 799px){
   .noticeMe{
       font-size: 18px;
       font-weight: bold;
   }
   #serviceTop h2{
       margin: 0px;
       padding-top: 40px;
       text-align: center;
   }
   #serviceTop{
    padding-bottom: 24px;
   }
   
   p.types{
       margin: 20px 40px;
        text-align: left;
        /* word-spacing: 5px; */
        font-size: 18px;
    }
   
   ul li{
       line-height: 1.1;
       margin-top: 10px;
       margin-left: 20px;
       margin-right: 10px;
       padding-bottom: 20px;
       font-size: 18px;
       font-weight: bolder;
   }
   /* #serviceBottom h3{
       margin: 10px 0;
       padding-bottom: 8px;
   } */
   #languages, #insurance, #payment{
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
   }

   #serviceBottom{
       padding: 30px 0;
       font-size: 18px;
   }

   .exams{
    margin: 0 10px;
    padding: 10px 10px;
}
   .description{
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}
    .titles{
        font-size: 18px;
        font-weight: bold;
    }

    .bottomDescription{
    margin-top: 20px;
    font-size: 16px;
}

   #serviceImage{
       margin-bottom: -5px;
   }

   #serviceImage img{
       width: 100%;
   }
   /*buttons*/
    .button{
    margin: 10px;
    text-align: center;
    color: white;    
    }
   .primary{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 8px;
    color: white;    
    }
    .secondary{
    width: 200px;
    height: 50px;
    font-size: 16px;
    margin: 8px;
    color: white;
    }

    hr{
        margin: 0 2em;
        width: 75%; 
    }

}

/* --------------------tablet view ----------------------- */
@media only screen and (min-width: 800px){
    .noticeMe{
        font-size: 18px;
        font-weight: bold;
    }
    #serviceTop h2{
        margin: 0px;
        padding-top: 40px;
        text-align: center;
    }
    #serviceTop{
     padding-bottom: 24px;
    }
    
    p.types{
        margin: 20px 40px;
         text-align: center;
         /* word-spacing: 5px; */
         font-size: 18px;
     }
    
    /* .exams li{
        line-height: 1.1;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 10px;
        padding-bottom: 20px;
        font-size: 18px;
        font-weight: bolder;
    } */

    /* modal images and slide show */
    .tiny-img{
        width: 70px;
        margin-left: 5%;
    }
    #slide1, #slide2, #slide3 {
        display: flex;
    }
    /* #slide2 .tiny-img{
        width: 70px;
        margin-left: 5%;
    } */
    /* Style the Image Used to Trigger the Modal */
    .myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
    }
    
    .myImg:hover {opacity: 0.7;}
    
    /* The Modal (background) */
    .modalImage {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding: 2%;  
        left: 50%;
        top: 50%;
        width: 50%; /* Full width */
        height: 65%; /* Full height */
        overflow: auto; 
        transform: translate(-50%, -50%);
        background-color: rgb(134, 26, 26); /* Fallback color */
        background-color: rgba(182, 31, 31, 0.9); /* Black w/ opacity */
    }
    
    /* Modal Content (Image) */
    .modalImage-content {
        margin: auto;
        display: block;
        position: relative;
        background-color: transparent;
        margin: auto;
        padding: 0;
        width: 65%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    
    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: 5% auto auto 18%;
        display: block;
        text-align: left;
        color: #ccc;
    }
    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 70%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    /* Position the "next button" to the right */
    .next {
        right: 5%;
        border-radius: 3px 0 0 3px;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }
    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 10px 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        /* transition: background-color 0.6s ease; */
    }
    
    .active, .dot:hover {
        background-color: #717171;
    }
    /* Add Animation - Zoom in the Modal */
    .modalImage-content, #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
    }
    
    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }
    
    /* The Close Button */
    .closeImg {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .closeImg:hover,
    .closeImg:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }


    #service-grid, #Laterality-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #perceptual-therapy-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    /* #serviceBottom h3{
        margin: 10px 0;
        padding-bottom: 8px;
    } */
    #languages, #insurance, #payment{
     margin-left: 20px;
     margin-right: 20px;
     padding: 15px;
    }
 
    #serviceBottom{
        padding: 60px 0;
        font-size: 18px;
    }
 
    /* .exams{
     margin: 40px 10px;
     padding: 10px 10px;
 } */
    /* .description{
     margin-top: -5px;
     margin-left: 20px;
     margin-right: 20px;
     padding-bottom: 20px;
 } */
     .titles{
         font-size: 18px;
         font-weight: bold;
     }
 
     .bottomDescription{
     margin-top: 20px;
     font-size: 16px;
 }
 
    #serviceImage{
        margin-bottom: -5px;
    }
 
    #serviceImage img{
        width: 100%;
    }
    /*buttons*/
     .button{
     margin: 10px;
     text-align: center;
     color: white;    
     }
    .primary{
     width: 200px;
     height: 50px;
     font-size: 16px;
     margin: 8px;
     color: white;    
     }
     .secondary{
     width: 200px;
     height: 50px;
     font-size: 16px;
     margin: 8px;
     color: white;
     }
 
     hr{
         margin: 0 2em;
         width: 75%; 
     }

     #contact{
         margin: 0;
         /* padding: 5em 3em; */
     }
 }


/* -------------------- desktop view ---------------------- */
@media only screen and (min-width: 1025px){
      #telephone {
        grid-column: 2/3;
        grid-row: 2/3;
        margin-top: -105px;
        margin-bottom: auto;
        font-size: 1em;
        text-decoration: underline;
      }
    #serviceTop h2{
        text-align: center;
        padding-top: 50px;
        margin-bottom: 25px;
        font-size: xx-large;
    } 
    .types{
        font-size: 22px;
        text-align: center;
    }
   
    .button{
       text-align: center; 
       padding: 20px;
       margin: 40px;
    }
    
    .primary{
    width: 220px;
    height: 55px;
    font-size: 18px;
    margin: 15px;
    }
    .secondary{
        width: 220px;
        height: 55px;
        font-size: 18px;
        margin: 15px;
        }

    .exams{
        /* margin: 0 40px; */
        /* padding: 30px 40px; */
        }

    #service-grid{
        margin: 5%;
    }
    .description{
        font-size: 20px;
        padding-bottom: 20px;
        margin: 10px 20px;
    }

    .exams li{
        line-height: 1.1;
        margin-top: 10px;
        /* margin-left: 20px; */
        /* margin-right: 10px; */
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: bolder;
    }
    .table-row-title{
        display: flex;
    }
    
    .titles{
        padding-bottom: 15px;
        font-size: 22px;
        font-weight: bold;
    }

    #languages, #insurance, #payment{
        margin-left: 80px;
        margin-right: 70px;
        padding: 20px;
    }

    .bottomDescription{
        margin-top: -10px;
        padding-right: 450px;
        margin-right: 270px;
        font-size: 20px;
    }

    .noticeMe{
        font-size: 22px;
        font-weight: bold;
    }

    #serviceImage{
        width: 100%;
        text-align: center;
        background-color: #5E5E5E;
    }

    #serviceBottom{
        padding: 30px 0;
    }

    hr{
        margin: 0 100px;
        width: 58%; 
    }
}
/* --------------------- outside media queries --------------- */
/* top section */
#serviceTop{
    background-color: black;
}
#serviceTop a{
    color: #ffffff;
}
/* bottom section */
#serviceBottom{
    background-color: black;
}
.primary{
    background-color: #3358DC;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); */
    border: none;
}
.secondary{
    background-color: transparent;
    color: white;
    border-radius: 5px;
    /* box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25); */
    border: 3px solid #3358DC;
}
button{
    color: white;
}
 hr {
    height: 1px; 
    border: none; 
    color:#6E6B6B; 
    background-color: #6E6B6B; 
 }
 #hr{
     background-color: #5E5E5E;
 }